In [1]:
import psycopg2
import pandas as pd
import numpy as np
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
conn = psycopg2.connect("dbname='testdb' user='postgres' password='pass' host='localhost' port='5432'")

In [3]:
cur = conn.cursor()

In [4]:
### Load IRS data

In [5]:
cur.execute("""select * from irs_data""")

In [6]:
irsRows = pd.DataFrame(cur.fetchall())
irsRows.head()

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,114,115
0,1,AL,0,Alabama,1,25430,14220,9220,1090,17700,...,10403,80,105,0,0,2320,4288,10210,33380,1
1,1,AL,0,Alabama,2,309460,228940,28090,48470,164070,...,46303,0,0,0,0,22340,10281,259530,308628,2
2,1,AL,0,Alabama,3,561010,259090,94200,198530,336700,...,273262,0,0,0,0,37770,35051,507780,1697524,3
3,1,AL,0,Alabama,4,490920,195820,155200,125280,286080,...,935237,50,37,0,0,66060,94877,418100,1192966,4
4,1,AL,0,Alabama,5,258730,72710,146770,32840,157580,...,1309463,20,37,0,0,59040,126810,194360,552931,5

In [7]:
cur.execute("""select column_name from information_schema.columns where
table_name='irs_data';""")
cols = [x[0] for x in cur.fetchall()]
cols

['statefips',
 'state',
 'countyfips',
 'countyname',
 'agi_stub',
 'n1',
 'mars1',
 'mars2',
 'mars4',
 'prep',
 'n2',
 'numdep',
 'a00100',
 'n02650',
 'a02650',
 'n00200',
 'a00200',
 'n00300',
 'a00300',
 'n00600',
 'a00600',
 'n00650',
 'a00650',
 'n00700',
 'a00700',
 'n00900',
 'a00900',
 'n01000',
 'a01000',
 'n01400',
 'a01400',
 'n01700',
 'a01700',
 'schf',
 'n02300',
 'a02300',
 'n02500',
 'a02500',
 'n26270',
 'a26270',
 'n02900',
 'a02900',
 'n03220',
 'a03220',
 'n03300',
 'a03300',
 'n03270',
 'a03270',
 'n03150',
 'a03150',
 'n03210',
 'a03210',
 'n03230',
 'a03230',
 'n03240',
 'a03240',
 'n04470',
 'a04470',
 'a00101',
 'n18425',
 'a18425',
 'n18450',
 'a18450',
 'n18500',
 'a18500',
 'n18300',
 'a18300',
 'n19300',
 'a19300',
 'n19700',
 'a19700',
 'n04800',
 'a04800',
 'n05800',
 'a05800',
 'n09600',
 'a09600',
 'n07100',
 'a07100',
 'n07300',
 'a07300',
 'n07180',
 'a07180',
 'n07230',
 'a07230',
 'n07240',
 'a07240',
 'n07220',
 'a07220',
 'n07260',
 'a07260',
 'n09400',
 'a09400',
 'n10600',
 'a10600',
 'n59660',
 'a59660',
 'n59720',
 'a59720',
 'n11070',
 'a11070',
 'n10960',
 'a10960',
 'n06500',
 'a06500',
 'n10300',
 'a10300',
 'n85330',
 'a85330',
 'n85300',
 'a85300',
 'n11901',
 'a11901',
 'n11902',
 'a11902',
 'id']

In [8]:
irsRows.columns = cols
irsRows.head()

,statefips,state,countyfips,countyname,agi_stub,n1,mars1,mars2,mars4,prep,...,a10300,n85330,a85330,n85300,a85300,n11901,a11901,n11902,a11902,id
0,1,AL,0,Alabama,1,25430,14220,9220,1090,17700,...,10403,80,105,0,0,2320,4288,10210,33380,1
1,1,AL,0,Alabama,2,309460,228940,28090,48470,164070,...,46303,0,0,0,0,22340,10281,259530,308628,2
2,1,AL,0,Alabama,3,561010,259090,94200,198530,336700,...,273262,0,0,0,0,37770,35051,507780,1697524,3
3,1,AL,0,Alabama,4,490920,195820,155200,125280,286080,...,935237,50,37,0,0,66060,94877,418100,1192966,4
4,1,AL,0,Alabama,5,258730,72710,146770,32840,157580,...,1309463,20,37,0,0,59040,126810,194360,552931,5

In [9]:
### Load CFPB data

In [10]:
cur.execute("""select * from cfpb_data""")

In [11]:
cfpbRows = pd.DataFrame(cur.fetchall())
cur.execute("""select column_name from information_schema.columns where
table_name='cfpb_data';""")
cols = [x[0] for x in cur.fetchall()]
cfpbRows.columns = cols

In [12]:
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,tags,consumer_consent_provided,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052,None,Consent not provided,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021,None,None,Web,2016-04-08,In progress,Yes,No,1871280,2
2,2016-04-08,Consumer Loan,Installment loan,Managing the loan or lease,None,None,None,"OneMain Financial Holdings, LLC",PA,151XX,None,None,Web,2016-04-08,In progress,Yes,No,1871653,3
3,2016-04-08,Consumer Loan,Vehicle lease,Managing the loan or lease,None,None,None,Ally Financial Inc.,NJ,075XX,None,None,Web,2016-04-08,In progress,Yes,No,1871882,4
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809,None,None,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5

In [13]:
### Load Census Data

In [14]:
cur.execute("""select * from census_data""")
censusRows = pd.DataFrame(cur.fetchall())
cur.execute("""select column_name from information_schema.columns where
table_name='census_data';""")
cols = [x[0] for x in cur.fetchall()]
censusRows.columns = cols

In [15]:
#Extract state population figures from census data and save it for reference
cur.execute("""select state_name, sum(total_pop) from census_data where year=1 and age_group=0 group by state_name ;""")
statePopulations = pd.DataFrame(cur.fetchall(), columns = ["State", "Pop"])
statePopulations.head()

            State      Pop
0         Alabama  4779736
1         Indiana  6483802
2       Minnesota  5303925
3       Louisiana  4533372
4  South Carolina  4625364

In [16]:
statePopulations.to_csv("statePopulations.csv", index=False) # Cleaning of state name will be an easy manual task

In [17]:
#Extract county population figures from census data and save it for reference
cur.execute("""select state_name, county_name, sum(total_pop) from census_data where year=1 and age_group=0 group by state_name, county_name ;""")
countyPopulations = pd.DataFrame(cur.fetchall(), columns = ["State", "County", "Pop"])
countyPopulations.head()

            State           County     Pop
0  South Carolina  Anderson County  187126
1           Texas     Tyler County   21766
2         Georgia     Bryan County   30233
3        Colorado    Moffat County   13795
4        Kentucky    Shelby County   42074

In [18]:
countyPopulations.to_csv("countyPopulations.csv", index=False) ## Cleaning of state name will be an easy manual task

In [19]:
censusRows = censusRows[censusRows.age_group==0][censusRows.year==1] #Get summary rows for the first year. Other years are projections.

In [20]:
censusRows.head()

,sumlev,state,county,state_name,county_name,year,age_group,total_pop,total_male_pop,total_female_pop,...,hisp_black_aoc_female,hisp_nativeam_aoc_male,hisp_nativeam_aoc_female,hisp_asian_aoc_male,hisp_asian_aoc_female,hisp_pacific_aoc_male,hisp_pacific_aoc_female,id,not_hisp_pacific_alone_female,hisp_nativeam_alone_female
0,50,1,1,Alabama,Autauga County,1,0,54571,28002,26569,...,48,26,32,9,11,19,10,897219,9,24
133,50,1,3,Alabama,Baldwin County,1,0,182265,93069,89196,...,154,189,163,54,48,45,26,897352,39,85
266,50,1,5,Alabama,Barbour County,1,0,27457,12881,14576,...,49,69,44,1,0,14,10,897485,8,42
399,50,1,7,Alabama,Bibb County,1,0,22915,10614,12301,...,18,1,3,5,1,23,5,897618,1,1
532,50,1,9,Alabama,Blount County,1,0,57322,28960,28362,...,38,66,35,2,6,28,18,897751,7,22

In [21]:
### Load Zip - County translations

In [22]:
cur.execute("""select * from zip_county""")
zipCountyRows = pd.DataFrame(cur.fetchall())
cur.execute("""select column_name from information_schema.columns where
table_name='zip_county';""")
cols = [x[0] for x in cur.fetchall()]
zipCountyRows.columns = cols

In [23]:
zipCountyRows.head()

   zip_code  county_code  res_ratio  bus_ratio  tot_ratio  oth_ratio  id
0       501        36103   0.000000   1.000000   1.000000   0.000000   1
1       601        72001   1.000000   1.000000   1.000000   1.000000   2
2       602        72003   1.000000   1.000000   1.000000   1.000000   3
3       603        72005   0.991804   0.999049   0.992237   0.993186   4
4       603        72071   0.008196   0.000951   0.007763   0.006814   5

## Adjust zipCountyRows to split county and state codes

In [24]:
###Split the zipCountyRows county_code into (state, county), since this is combined for some reason.
def getCountyCode(x):
    return x%1000

def getStateCode(x):
    return int(x/1000)

countyCodes = pd.DataFrame(map(getCountyCode, zipCountyRows.county_code), columns=['trunc_county_code'])
stateCodes = pd.DataFrame(map(getStateCode, zipCountyRows.county_code), columns=['trunc_state_code'])

In [25]:
zipCountyCombined = pd.concat([zipCountyRows, countyCodes, stateCodes], axis=1)

In [26]:
zipCountyCombined.head()

,zip_code,county_code,res_ratio,bus_ratio,tot_ratio,oth_ratio,id,trunc_county_code,trunc_state_code
0,501,36103,0.000000,1.000000,1.000000,0.000000,1,103,36
1,601,72001,1.000000,1.000000,1.000000,1.000000,2,1,72
2,602,72003,1.000000,1.000000,1.000000,1.000000,3,3,72
3,603,72005,0.991804,0.999049,0.992237,0.993186,4,5,72
4,603,72071,0.008196,0.000951,0.007763,0.006814,5,71,72

In [27]:
del zipCountyCombined['county_code']
zipCountyRows = zipCountyCombined

In [28]:
zipCountyRows.head()

,zip_code,res_ratio,bus_ratio,tot_ratio,oth_ratio,id,trunc_county_code,trunc_state_code
0,501,0.000000,1.000000,1.000000,0.000000,1,103,36
1,601,1.000000,1.000000,1.000000,1.000000,2,1,72
2,602,1.000000,1.000000,1.000000,1.000000,3,3,72
3,603,0.991804,0.999049,0.992237,0.993186,4,5,72
4,603,0.008196,0.000951,0.007763,0.006814,5,71,72

In [29]:
zipCountyRows = zipCountyRows.set_index('zip_code')

In [30]:
zipCountyRows.head()

,res_ratio,bus_ratio,tot_ratio,oth_ratio,id,trunc_county_code,trunc_state_code
zip_code,,,,,,,
501,0.000000,1.000000,1.000000,0.000000,1,103,36
601,1.000000,1.000000,1.000000,1.000000,2,1,72
602,1.000000,1.000000,1.000000,1.000000,3,3,72
603,0.991804,0.999049,0.992237,0.993186,4,5,72
603,0.008196,0.000951,0.007763,0.006814,5,71,72

## Load State Abbreviation tables

In [31]:
stateAbbrev = pd.read_csv('stateAbbrev.csv')
stateAbbrev.head()

         State Abbreviation
0      ALABAMA           AL
1       ALASKA           AK
2     ARIZONA            AZ
3     ARKANSAS           AR
4  CALIFORNIA            CA

In [32]:
#stateAbbrev.State = map(str.title, stateAbbrev.State) #Fix the all-caps
stateAbbrev.State = map(str.strip, stateAbbrev.State) #Fix whitespace

In [33]:
stateAbbrev.head()

        State Abbreviation
0     ALABAMA           AL
1      ALASKA           AK
2     ARIZONA           AZ
3    ARKANSAS           AR
4  CALIFORNIA           CA

In [34]:
stateAbbrev = stateAbbrev.set_index('State')

In [35]:
stateAbbrev

                     Abbreviation
State
ALABAMA                        AL
ALASKA                         AK
ARIZONA                        AZ
ARKANSAS                       AR
CALIFORNIA                     CA
COLORADO                       CO
CONNECTICUT                    CT
DELAWARE                       DE
FLORIDA                        FL
GEORGIA                        GA
HAWAII                         HI
IDAHO                          ID
ILLINOIS                       IL
INDIANA                        IN
IOWA                           IA
KANSAS                         KS
KENTUCKY                       KY
LOUISIANA                      LA
MAINE                          ME
MARYLAND                       MD
MASSACHUSETTS                  MA
MICHIGAN                       MI
MINNESOTA                      MN
MISSISSIPPI                    MS
MISSOURI                       MO
MONTANA                        MT
NEBRASKA                       NE
NEVADA                         NV
NEW HAMPSHIRE                  NH
NEW JERSEY                     NJ
NEW MEXICO                     NM
NEW YORK                       NY
NORTH CAROLINA                 NC
NORTH DAKOTA                   ND
OHIO                           OH
OKLAHOMA                       OK
OREGON                         OR
PENNSYLVANIA                   PA
RHODE ISLAND                   RI
SOUTH CAROLINA                 SC
SOUTH DAKOTA                   SD
TENNESSEE                      TN
TEXAS                          TX
UTAH                           UT
VERMONT                        VT
VIRGINIA                       VA
WASHINGTON                     WA
WEST VIRGINIA                  WV
WISCONSIN                      WI
WYOMING                        WY
DISTRICT OF COLUMBIA           DC

## Replace state names with abbreviations in Census Data

In [36]:
def stateNameReplace(x):
    return stateAbbrev.Abbreviation[x]

stateAbbrevTranslations = map(stateNameReplace, map(str.upper,censusRows.state_name))
censusRows.state_name = stateAbbrevTranslations

In [37]:
censusRows.head()

,sumlev,state,county,state_name,county_name,year,age_group,total_pop,total_male_pop,total_female_pop,...,hisp_black_aoc_female,hisp_nativeam_aoc_male,hisp_nativeam_aoc_female,hisp_asian_aoc_male,hisp_asian_aoc_female,hisp_pacific_aoc_male,hisp_pacific_aoc_female,id,not_hisp_pacific_alone_female,hisp_nativeam_alone_female
0,50,1,1,AL,Autauga County,1,0,54571,28002,26569,...,48,26,32,9,11,19,10,897219,9,24
133,50,1,3,AL,Baldwin County,1,0,182265,93069,89196,...,154,189,163,54,48,45,26,897352,39,85
266,50,1,5,AL,Barbour County,1,0,27457,12881,14576,...,49,69,44,1,0,14,10,897485,8,42
399,50,1,7,AL,Bibb County,1,0,22915,10614,12301,...,18,1,3,5,1,23,5,897618,1,1
532,50,1,9,AL,Blount County,1,0,57322,28960,28362,...,38,66,35,2,6,28,18,897751,7,22

In [38]:
censusRows[censusRows.state_name=='HI']

,sumlev,state,county,state_name,county_name,year,age_group,total_pop,total_male_pop,total_female_pop,...,hisp_black_aoc_female,hisp_nativeam_aoc_male,hisp_nativeam_aoc_female,hisp_asian_aoc_male,hisp_asian_aoc_female,hisp_pacific_aoc_male,hisp_pacific_aoc_female,id,not_hisp_pacific_alone_female,hisp_nativeam_alone_female
72618,50,15,1,HI,Hawaii County,1,0,185079,92258,92821,...,356,1325,1311,5173,5204,4855,4866,969837,10318,204
72751,50,15,3,HI,Honolulu County,1,0,953207,476115,477092,...,2403,3616,3598,18930,19822,14851,15068,969970,42906,497
72884,50,15,5,HI,Kalawao County,1,0,90,48,42,...,0,0,0,0,0,0,0,970103,25,0
73017,50,15,7,HI,Kauai County,1,0,67091,33390,33701,...,59,334,331,1550,1552,1186,1175,970236,2697,65
73150,50,15,9,HI,Maui County,1,0,154834,77247,77587,...,197,770,713,3295,3344,2698,2748,970369,7530,196

### Drop rows with missing zip code data -- they're relatively few and they tend to be missing other important data. Same for state.

In [39]:
cfpbRows=cfpbRows[cfpbRows.zip_code==cfpbRows.zip_code]

In [40]:
cfpbRows=cfpbRows[cfpbRows.state==cfpbRows.state]

## Adjust CFPB zip code data because for some they truncate the last two digits. Impute these at random.

In [41]:
cfpbRows.iloc[2].zip_code[3:5]

'XX'

In [42]:
import random
def imputeTruncatedZipCodes(x):
    #print x
    if str(x)=='None':
        #print "Problem: ", x
        return x
    if x[-2:]=='XX':
        try:
            prefix = int(x[0:3])
            #print "Prefix: ", prefix
            matches = filter(lambda y: int(y/100)==prefix, zipCountyRows.zip_code)
            return int(matches[int(random.random()*len(matches))])
        except:
            return None ### This is damaged data. Prepare to discard.
    else:
        try:
            return int(x)
        except:
            return None #Still problematic

print imputeTruncatedZipCodes('85208')
print imputeTruncatedZipCodes('3-007')

85208
None

In [43]:
import multiprocessing
p = multiprocessing.Pool(6)
#cfpbRows.zip_code = map(imputeTruncatedZipCodes, cfpbRows.zip_code)
cfpbRows.zip_code = p.map(imputeTruncatedZipCodes, cfpbRows.zip_code)

In [44]:
cfpbRows=cfpbRows[cfpbRows.zip_code==cfpbRows.zip_code] #Drop the problematic data

In [45]:
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,tags,consumer_consent_provided,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,None,Consent not provided,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021.0,None,None,Web,2016-04-08,In progress,Yes,No,1871280,2
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809.0,None,None,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5
5,2016-04-07,Credit reporting,None,Unable to get credit report/credit score,Problem getting report or credit score,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",NJ,8009.0,None,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,No,1869628,6
11,2016-04-07,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,None,Company has responded to the consumer and the ...,Rothstein Acquisitions LLC,TX,77380.0,None,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,Yes,1868503,12

In [46]:
###Save work, because this took forever!
cfpbRows.to_csv("cfpbCleaned1.csv")

### Translate cfpb zip codes to county names

In [47]:
import random
def translateZipToCountyCode(x):
    try:
        x=int(x)
        codes = zipCountyRows.trunc_county_code[x]
        try:
            return codes.iloc[int(random.random()*len(codes))] #Return one at random if there is more than one
        except AttributeError: #If there's just one, return that
            return codes
    except KeyError:
        return None

In [48]:
translateZipToCountyCode(30052)

135

In [49]:
cfpbRows['county_code']=map(translateZipToCountyCode, cfpbRows.zip_code)
cfpbRows=cfpbRows[cfpbRows.county_code == cfpbRows.county_code] #These are things like Virgin Islands, not continental US stuff

In [50]:
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,tags,consumer_consent_provided,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id,county_code
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,None,Consent not provided,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1,297.0
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021.0,None,None,Web,2016-04-08,In progress,Yes,No,1871280,2,99.0
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809.0,None,None,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5,3.0
5,2016-04-07,Credit reporting,None,Unable to get credit report/credit score,Problem getting report or credit score,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",NJ,8009.0,None,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,No,1869628,6,7.0
11,2016-04-07,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,None,Company has responded to the consumer and the ...,Rothstein Acquisitions LLC,TX,77380.0,None,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,Yes,1868503,12,339.0

In [51]:
### Grab county name from Census data!

In [52]:
def translateCountyCodeToCountyName(x):
    state, county_code = x
    try:
        return np.array(censusRows.county_name[censusRows.state_name==state][censusRows.county==county_code])[0]
    except:
        #print "Something went wrong with ", x
        return None

#cfpbRows['county_name']=p.map(translateCountyCodeToCountyName, cfpbRows)

In [53]:
zips = zip(cfpbRows.state, cfpbRows.county_code)
cfpbRows['county_name']=map(translateCountyCodeToCountyName, zips)

In [54]:
zips = zip(cfpbRows.state, cfpbRows.county_code)

In [55]:
translateCountyCodeToCountyName(zips[0])

'Walton County'

In [56]:
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,...,consumer_consent_provided,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id,county_code,county_name
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,...,Consent not provided,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1,297.0,Walton County
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021.0,...,None,Web,2016-04-08,In progress,Yes,No,1871280,2,99.0,Macomb County
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809.0,...,None,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5,3.0,New Castle County
5,2016-04-07,Credit reporting,None,Unable to get credit report/credit score,Problem getting report or credit score,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",NJ,8009.0,...,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,No,1869628,6,7.0,Camden County
11,2016-04-07,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,None,Company has responded to the consumer and the ...,Rothstein Acquisitions LLC,TX,77380.0,...,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,Yes,1868503,12,339.0,Montgomery County

In [57]:
cfpbRows = cfpbRows[cfpbRows.county_name==cfpbRows.county_name] #Drop the bad data

In [58]:
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,...,consumer_consent_provided,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id,county_code,county_name
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,...,Consent not provided,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1,297.0,Walton County
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021.0,...,None,Web,2016-04-08,In progress,Yes,No,1871280,2,99.0,Macomb County
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809.0,...,None,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5,3.0,New Castle County
5,2016-04-07,Credit reporting,None,Unable to get credit report/credit score,Problem getting report or credit score,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",NJ,8009.0,...,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,No,1869628,6,7.0,Camden County
11,2016-04-07,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,None,Company has responded to the consumer and the ...,Rothstein Acquisitions LLC,TX,77380.0,...,Consent not provided,Web,2016-04-07,Closed with explanation,Yes,Yes,1868503,12,339.0,Montgomery County

### Pull county income stats from the IRS data

In [59]:
cur.execute("""select countyname, n1, agi_stub, a00100 from irs_data where countyfips>0;""")
rows = pd.DataFrame(cur.fetchall(), columns=['countyname', 'num', 'agi_stub', 'agi'])
rows.head()

       countyname   num  agi_stub     agi
0  Autauga County   210         1   -5071
1  Autauga County  3350         2   18238
2  Autauga County  5740         3   97550
3  Autauga County  5390         4  195037
4  Autauga County  3390         5  209384

In [60]:
cur.execute("""select countyname, sum(a00100), sum(n1) from irs_data where countyfips>0 group by countyname;""")

In [61]:
countyIncomeRows = pd.DataFrame(cur.fetchall(), columns = ["CountyName", "SumAGI", "SumNumReturns"])
countyIncomeRows.head()

       CountyName    SumAGI  SumNumReturns
0   Shasta County   3681144          75400
1   Waller County   1023069          18190
2  Hidalgo County  11020157         299900
3      Jay County    367606           9590
4   Tippah County    326855           8650

In [62]:
from __future__ import division
countyIncomeRows['AverageAGI']=[x/y for (x, y) in zip(countyIncomeRows.SumAGI, countyIncomeRows.SumNumReturns)] #NOTE: These are measured in THOUSANDS

In [63]:
countyIncomeRows.head()

       CountyName    SumAGI  SumNumReturns  AverageAGI
0   Shasta County   3681144          75400   48.821538
1   Waller County   1023069          18190   56.243485
2  Hidalgo County  11020157         299900   36.746105
3      Jay County    367606           9590   38.332221
4   Tippah County    326855           8650   37.786705

In [64]:
for x in countyIncomeRows.CountyName:
    if 'Peter' in x:
        print x

Petersburg city
Petersburg Census Area

In [65]:
countyIncomeRows = countyIncomeRows.set_index('CountyName')

In [66]:
countyIncomeRows.head()

                  SumAGI  SumNumReturns  AverageAGI
CountyName
Shasta County    3681144          75400   48.821538
Waller County    1023069          18190   56.243485
Hidalgo County  11020157         299900   36.746105
Jay County        367606           9590   38.332221
Tippah County     326855           8650   37.786705

In [67]:
def getAverageAGI(x):
    if x=="LaSalle Parish":
        x="La Salle Parish"
    elif x=="Petersburg Borough":
        x="Petersburg Census Area"
    try:
        return countyIncomeRows.AverageAGI[x]
    except:
        y = x+" County"
        return countyIncomeRows.AverageAGI[y]
            

cfpbRows['CountyAGI'] = map(getAverageAGI, cfpbRows.county_name)

In [68]:
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,...,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id,county_code,county_name,CountyAGI
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,...,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1,297.0,Walton County,57.830967
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021.0,...,Web,2016-04-08,In progress,Yes,No,1871280,2,99.0,Macomb County,50.708250
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809.0,...,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5,3.0,New Castle County,65.442088
5,2016-04-07,Credit reporting,None,Unable to get credit report/credit score,Problem getting report or credit score,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",NJ,8009.0,...,Web,2016-04-07,Closed with explanation,Yes,No,1869628,6,7.0,Camden County,57.903652
11,2016-04-07,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,None,Company has responded to the consumer and the ...,Rothstein Acquisitions LLC,TX,77380.0,...,Web,2016-04-07,Closed with explanation,Yes,Yes,1868503,12,339.0,Montgomery County,78.165286

In [69]:
#Fix the Tags column to be more convenient

def fixTags(x):
    if str(x)=='None':
        return "Neither"
    elif x=="Older American":
        return "OlderAmerican"
    elif x=="Servicemember":
        return "Servicemember"
    elif ("Servicemember" in x) and ("Older American" in x):
        return "Both"

    
cfpbRows.tags = map(fixTags, cfpbRows.tags)
cfpbRows.head()

,date_received,product,sub_product,issue,sub_issue,consumer_narrative,company_response,company,state,zip_code,...,submitted_via,date_sent,company_response_status,timely_response,consumer_disputed,complaint_id,id,county_code,county_name,CountyAGI
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,...,Web,2016-04-08,Closed with explanation,Yes,No,1870785,1,297.0,Walton County,57.830967
1,2016-04-08,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt is not mine,None,None,Transworld Systems Inc.,MI,48021.0,...,Web,2016-04-08,In progress,Yes,No,1871280,2,99.0,Macomb County,50.708250
4,2016-04-07,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,None,None,Quality Asset Recovery LLC,DE,19809.0,...,Web,2016-04-07,Closed with explanation,Yes,No,1869940,5,3.0,New Castle County,65.442088
5,2016-04-07,Credit reporting,None,Unable to get credit report/credit score,Problem getting report or credit score,None,Company believes complaint caused principally ...,"Credit Karma, Inc.",NJ,8009.0,...,Web,2016-04-07,Closed with explanation,Yes,No,1869628,6,7.0,Camden County,57.903652
11,2016-04-07,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,None,Company has responded to the consumer and the ...,Rothstein Acquisitions LLC,TX,77380.0,...,Web,2016-04-07,Closed with explanation,Yes,Yes,1868503,12,339.0,Montgomery County,78.165286

In [70]:
#Drop the consumer_narrative column since we will not explore this in any detail.
del cfpbRows['consumer_narrative']

In [71]:
#Extra column left over
del cfpbRows['id']

In [72]:
###Save work, because this took forever!
cfpbRows.to_csv("cfpbCleaned3.csv", index=False)

### Bring in County Demographics Stats from Census Data

In [73]:
censusRows.head()

,sumlev,state,county,state_name,county_name,year,age_group,total_pop,total_male_pop,total_female_pop,...,hisp_black_aoc_female,hisp_nativeam_aoc_male,hisp_nativeam_aoc_female,hisp_asian_aoc_male,hisp_asian_aoc_female,hisp_pacific_aoc_male,hisp_pacific_aoc_female,id,not_hisp_pacific_alone_female,hisp_nativeam_alone_female
0,50,1,1,AL,Autauga County,1,0,54571,28002,26569,...,48,26,32,9,11,19,10,897219,9,24
133,50,1,3,AL,Baldwin County,1,0,182265,93069,89196,...,154,189,163,54,48,45,26,897352,39,85
266,50,1,5,AL,Barbour County,1,0,27457,12881,14576,...,49,69,44,1,0,14,10,897485,8,42
399,50,1,7,AL,Bibb County,1,0,22915,10614,12301,...,18,1,3,5,1,23,5,897618,1,1
532,50,1,9,AL,Blount County,1,0,57322,28960,28362,...,38,66,35,2,6,28,18,897751,7,22

In [74]:
del censusRows['id']

In [75]:
del censusRows['sumlev']
del censusRows['state']
del censusRows['county']

In [76]:
del censusRows['year']
del censusRows['age_group']

In [77]:
#censusRows['total_male_pop'] = censusRows['total_male_pop'].div(censusRows['total_pop'], axis='index')

In [78]:
# Convert raw population counts into percentages
for column in censusRows.columns:
    if column == "state_name" or column == "county_name" or column =="total_pop":
        continue
    censusRows[column]=censusRows[column].div(censusRows['total_pop'], axis='index')

In [79]:
censusRows.head()

,state_name,county_name,total_pop,total_male_pop,total_female_pop,white_alone_male_pop,white_female_alone_pop,black_alone_male,black_alone_female,nativeam_male_alone,...,hisp_black_aoc_male,hisp_black_aoc_female,hisp_nativeam_aoc_male,hisp_nativeam_aoc_female,hisp_asian_aoc_male,hisp_asian_aoc_female,hisp_pacific_aoc_male,hisp_pacific_aoc_female,not_hisp_pacific_alone_female,hisp_nativeam_alone_female
0,AL,Autauga County,54571,0.513130,0.486870,0.390226,0.403181,0.083543,0.094006,0.002181,...,0.001045,0.000880,0.000476,0.000586,0.000165,0.000202,0.000348,0.000183,0.000165,0.000440
133,AL,Baldwin County,182265,0.510625,0.489375,0.429781,0.446471,0.046065,0.048709,0.003632,...,0.000856,0.000845,0.001037,0.000894,0.000296,0.000263,0.000247,0.000143,0.000214,0.000466
266,AL,Barbour County,27457,0.469134,0.530866,0.271807,0.237608,0.247951,0.223367,0.003387,...,0.002404,0.001785,0.002513,0.001603,0.000036,0.000000,0.000510,0.000364,0.000291,0.001530
399,AL,Bibb County,22915,0.463190,0.536810,0.395156,0.370674,0.134366,0.086450,0.001527,...,0.000829,0.000786,0.000044,0.000131,0.000218,0.000044,0.001004,0.000218,0.000044,0.000044
532,AL,Blount County,57322,0.505216,0.494784,0.477967,0.487945,0.007327,0.006926,0.003105,...,0.001047,0.000663,0.001151,0.000611,0.000035,0.000105,0.000488,0.000314,0.000122,0.000384

In [80]:
cfpbRows=cfpbRows.rename(columns={"state":"state_name"})

In [81]:
merged = pd.merge(cfpbRows, censusRows, on=["state_name", "county_name"])

In [82]:
merged.head()

,date_received,product,sub_product,issue,sub_issue,company_response,company,state_name,zip_code,tags,...,hisp_black_aoc_male,hisp_black_aoc_female,hisp_nativeam_aoc_male,hisp_nativeam_aoc_female,hisp_asian_aoc_male,hisp_asian_aoc_female,hisp_pacific_aoc_male,hisp_pacific_aoc_female,not_hisp_pacific_alone_female,hisp_nativeam_alone_female
0,2016-04-08,Credit reporting,None,Incorrect information on credit report,Personal information,Company believes complaint caused principally ...,"Credit Karma, Inc.",GA,30052.0,Neither,...,0.001277,0.001433,0.000836,0.000645,0.000191,0.000275,0.000155,0.000215,0.000263,0.00031
1,2016-03-25,Debt collection,Credit card,False statements or representation,Impersonated an attorney or official,None,"Portfolio Recovery Associates, Inc.",GA,30012.0,Neither,...,0.001277,0.001433,0.000836,0.000645,0.000191,0.000275,0.000155,0.000215,0.000263,0.00031
2,2016-03-24,Credit reporting,None,Credit monitoring or identity protection,Problem with fraud alerts,None,"TransUnion Intermediate Holdings, Inc.",GA,30014.0,Neither,...,0.001277,0.001433,0.000836,0.000645,0.000191,0.000275,0.000155,0.000215,0.000263,0.00031
3,2016-03-04,Debt collection,Credit card,Cont'd attempts collect debt not owed,Debt is not mine,None,Encore Capital Group,GA,30054.0,Neither,...,0.001277,0.001433,0.000836,0.000645,0.000191,0.000275,0.000155,0.000215,0.000263,0.00031
4,2016-03-04,Debt collection,Credit card,Cont'd attempts collect debt not owed,Debt is not mine,None,Encore Capital Group,GA,30054.0,Neither,...,0.001277,0.001433,0.000836,0.000645,0.000191,0.000275,0.000155,0.000215,0.000263,0.00031

In [83]:
#Save final merged dataset containing CFPB complaints, IRS income stats, and Census demographics

merged.to_csv("mergedDataset.csv", index=False)